
header{
    background-color: #385B8A;
    nav{
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;  
                }
            }
        }
            div{
                ul{
                    list-style: none;
                    display: flex;
                    li{
                        margin: 30px;
                    }
                }
            }
        
    }
}
